################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LedMatrix/Debug
/LedMatrix/__vm
/LedMatrix/LedMatrix.vcxproj.filters
/LedMatrix/LedMatrix.vcxproj.user
